/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

body {
	line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: normal;
}

ol, ul {
	list-style: none;
}

blockquote {
	quotes: none;
}

blockquote:before, blockquote:after {
	content: '';
	content: none;
}

del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a img {
	border: none;
}

/* =Layout
---------------------------------------------------------------------------- */
body {
	background: #FFFFFF url('img/bg.jpg') repeat 0 0;
}

#container {
	width: 100%;
}

#header {
	width: 100%;
	height: 40px;
	background: #3A3A3A url('img/navigation.jpg') repeat-x 0 0;
}

#navigation {
	margin: 0 auto;
	width: 974px;
	
}

#navigation ul {
	margin: 0;
	padding: 5px 0 0 0;
}

#navigation ul li {
	list-style-type: none;
	display: inline;
}

#navigation li a {
	display: block;
	float: left;
	padding: 5px 10px;
	color: #CCC;
	text-decoration: none;
	font-size: .8em;
	font-family: Verdana, Arial sans-serif;
	font-weight: normal;
}

#navigation li a:hover { color: #FFF; }

#content {
	margin: -1px auto;
	padding: 0;
	width: 974px;
	clear: left;
	background: #FFF;
	border-left: 1px solid #D2D2D2;
	border-right: 1px solid #D2D2D2;
	border-bottom: 1px solid #D2D2D2;
}

#content table {
	border: 1px solid #D2D2D2;
	margin: 15px 15px;
	text-align: left;
	width: 944px;
	font-family: Verdana, Arial sans-serif;
	font-weight: normal;
	font-size: .8em;
}

#content tr th {
	color: #333;
	font-weight: bold;
	padding: 15px 15px;
	text-transform:capitalize;
	background: url(img/bg-th.png) repeat-x;
}
#content tr td {
	border-top: 1px solid #D2D2D2;
	padding: 10px 15px;
	vertical-align:center;
}

#content tr:hover {
	background: #F4F4F4;
}

#content tr td.img_col {
	padding-left:2.7em;
}

#content tr td img {
	vertical-align:middle;
}

#success,
#error {
	margin: 10px 0 0 0;
	padding: 25px 70px;
	vertical-align:center;
	border-top: 3px double #D2D2D2
}

#success {
	background: url(img/success-48.png) no-repeat 0 10px;
}

#error {
	background: url(img/important-48.png) no-repeat 0 10px;
}

#logo {
	margin: 0 auto;
	padding:40px 0 20px 0;
	width:260px;
	height:68px;
	background: url('img/logo.jpg') no-repeat 0 40px;
}

#logo h1 {
	display: none;
}

#content h2 {
	color: #000;
	font-size: 160%;
	margin: 0 0 .5em 24px;
	font-family: Verdana, Arial sans-serif;
}

#content h3 {
	color: #000;
	font-size: 1em;
	margin: 25px 0 5px 15px;
	font-family: Verdana, Arial sans-serif;
}

#footer {
	position: relative;
	padding: 40px 0 0 0;
	bottom: 20px;
	width: 100%;
	background: transparent;
	text-align: center;
}

#footer span {
	display:block;
	margin: 0 auto;
	width: 940px;
	font-size: .8em;
	font-family: Verdana, Arial sans-serif;
	font-weight: normal;
}



/* =Forms
---------------------------------------------------------------------------- */

form { 
	margin:0;
	padding:0;
}

fieldset { 
	margin: 10px 0 ;
	padding: 1em;
	border:3px double #D2D2D2; 
}

legend {
	margin: 0;
	padding:0 .5em;
	color:#333;
	background:transparent;
	font-size:1.1em;
	font-weight:bold;
}

label { 
	float:left;
	width:200px;
	padding:0 1em;
	text-align:right;
}

fieldset div { 
	margin-bottom:.5em;
	padding:0;
	display:block;
}

fieldset div input, div textarea {
	border: 1px solid #D2D2D2;
	padding:1px;
	color:#333;
}

fieldset div input {
	width:300px;
}

fieldset div textarea {
	width:500px;
}

fieldset div select { 
	padding:1px; 
}

fm

div.fm-multi div { 
	margin:5px 0; 
}

div.fm-multi input { 
	width:1em; 
}

div.fm-multi label { 
	display:block;
	width:200px;
	padding-left:5em;
	text-align:left;
}

input:focus,textarea:focus { 
	background:#efefef;
	color:#000;
}

fieldset div.fm-req, div.fm-opt { 
	font-weight:bold; 
}

fieldset div.fm-req label:before { 
	content:"* "; 
}

fieldset label span { 
	display: block; 
	font-size: 83%; 
	font-weight: normal;
	color: #666;
}

#get_login,
#add_user,
#add_bug {
	margin:0 auto;
	padding:1em;
	text-align:left;
	color: #333;
	background: #fff;
	font: .8em Verdana, Arial sans-serif;
}

#add_bug select {
	border: 1px solid #D2D2D2;
}

#home-search {
	margin: 0 auto;
	padding: 1px 5px;
	display: block;
	width: 550px;
	height: 30px;
	border: 1px solid #D2D2D2;
}

#home-search-button {
	margin: 0 auto;
	padding: 20px 0 20px 0;
	width: 442px;
}

#home-search-button input {
	margin:0 8px 0 8px;
	font-size: .8em;
}

button,
a.button,
input[type=submit],
input[type=button],
input[type=reset],
input[type=image] {
	color: #555;
	cursor: pointer;
	font: bold 0.9em Verdana, Arial, Tahoma, sans-serif;
	outline: none;
	text-align: center;
	text-decoration: none;
	line-height: 1em;
}

button:hover,
a.button:hover,
a.button:focus,
input[type=submit]:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=image]:hover {
	outline: none;
	text-decoration: none;
	box-shadow: 0 0 3px #c0c0c0;
}


button,
a.button,
input[type=submit],
input[type=button],
input[type=reset],
input[type=image] {
	background: #fff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #e0e0e0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e0e0e0)); /* Chrome,  Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#e0e0e0 100%); /* Chrome10+, Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#e0e0e0 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#e0e0e0 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #ffffff 0%,#e0e0e0 100%); /* W3C */
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #aaa;
	border-right: 1px solid #ccc;
	color: #555;
}

button:hover,
a.button:hover,
a.button:focus,
input[type=submit]:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=image]:hover {
	background: #e0e0e0;
	background: -moz-linear-gradient(top, #ffffff 0%, #e0e0e0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#e0e0e0 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#e0e0e0 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #ffffff 0%,#e0e0e0 100%); /* W3C */
	border: 1px solid #aaa;
}

button,
a.button,
input[type=submit],
input[type=button],
input[type=reset],
input[type=image] {
	padding: 8px 10px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}